{% extends 'base.html' %}

{% block content %}
    <div class="container py-5 rtl">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">نام کالا</th>
                <th scope="col">تعداد</th>
                <th scope="col">قیمت واحد</th>
                <th scope="col">قیمت کل</th>
                <th scope="col">حذف</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
                <td><a href="{% url 'orders:cart_remove' item.product.id %}">حذف کالا</a></td>
              </tr>
              {% endfor %}
            </tbody>
            <tr>
              <td>جمع کل</td>
              <td colspan="4"></td>
              <td>{{ cart.get_total_price }}</td>
            </tr>
        </table>

        <a href="{% url 'orders:order_create' %}" class="btn btn-primary">تایید</a>
    </div>
{% endblock %}